 .mainContainer{
    display: flex;
    background-color: #1d1d1d;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

*{
    margin:0;
    padding: 0;
}
.formContainer{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
}
.formContainer input{
    padding: 0.75rem 2rem;
    border-radius: 10px;
}
.submitButton{
    background-color: rgb(0, 200, 255);
    border: none;
    padding: 0.75 3rem;
    border-radius: 10px;
    width: 11rem;
    height: 3rem;
}
.link{
    color: white;
    margin-top: 1rem;
}